<div class="container px-sm-0">
  <div class="col-sm-12 col-lg-10 px-sm-0 mx-auto">

    <p><%= link_to "<< 戻る", group_path(@group) %></p>
    
    <h2 class="text-center"><%= @group.name %></h2>
    <h3 class="text-center mt-4">承認待ち一覧</h3>
    
    <div class="row mt-5">
      <div class="col-11 col-md-12 mx-auto">

        <% if @permits.present? %>
          <div class="table-responsive">
            <table class="table table-hover text-nowrap bg-light">

              <thead class="thead-dark">
                <tr>
                  <th>名前</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @permits.each do |permit| %>
                  <tr>
                    <td><%= link_to permit.user.name, user_path(permit.user.id), class: "text-dark" %></td>
                    <td class="text-right">
                      <%= link_to '加入許可', group_group_members_path(@group, permit_id: permit.id), method: :post, class: "btn btn-sm btn-primary" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>

            </table>
          </div>
        <% else %>
          <p class="text-center">承認待ちユーザーはいません。</p>
        <% end %>

      </div>
    </div>

    <h3 class="text-center mt-3">メンバー一覧</h3>
    
    <div class="row mt-3">
      <div class="col-11 col-md-10 mx-auto">

        <% @users.each do |user| %>
          <table class="mb-3">
            <tr>
              <td class="p-2"><%= image_tag user.get_profile_image, size: "75x75", class: "icon-img rounded-circle" %></td>
              <td class="p-2"><%= link_to user.name, user_path(user) %></td>
              <% if @group.is_owned_by?(user) %>
                <td class="p-2">【オーナー】</td>
              <% else %>
                <td class="p-2"><%= link_to 'グループ退会', group_group_members_path(@group, user_id: user.id), method: :delete, "data-confirm" => "グループを退会させますか？", class: "btn btn-sm btn-secondary" %></td>
              <% end %>
            </tr>
          </table>
        <% end %>

      </div>
    </div>

  </div>
</div>