<%= form_with model: post do |f| %>
  <div class="form-group">
    <label for="post_title">タイトル（50文字以内）</label>
    <%= f.text_field :title, class: "form-control post_title" %>
  </div>
  
  <div class="form-group">
    <label for="post_body">本文</label>
    <%= f.text_area :body, rows: '5', class: "form-control post_body" %>
  </div>

  <div class="form-group">
    <%= f.label :画像 %>
    <%= f.file_field :image, class: "form-control-file", accept: 'image/*' %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>