<% if @model == 'user' %>
	<h2 class="text-center mb-3">ユーザー "<%= @content %>" の検索結果</h2>
  <% if @records.count == 0 %>
    <p class="text-center">検索結果が見つかりませんでした。</p>
  <% else %>
    <%= render 'public/users/index', users: @records %>
  <% end %>
<% elsif @model == 'post' %>
	<h2 class="text-center mb-3">投稿 "<%= @content %>" の検索結果</h2>
  <% if @records.count == 0 %>
    <p class="text-center">検索結果が見つかりませんでした。</p>
  <% else %>
    <%= render 'public/posts/index', posts: @records %>
  <% end %>
<% elsif @model == 'group' %>
	<h2 class="text-center mb-3">グループ "<%= @content %>" の検索結果</h2>
  <% if @records.count == 0 %>
    <p class="text-center">検索結果が見つかりませんでした。</p>
  <% else %>
    <%= render 'public/groups/index', groups: @records %>
  <% end %>
<% end %>