<%= render "layouts/notice", object: @group_post %>

<!-- 投稿詳細画面 -->
<div class="container px-sm-0">
  <div class="col-sm-12 col-lg-10 px-sm-0 mx-auto">

    <p><%= link_to "<< 投稿一覧へ戻る", admin_group_group_posts_path(@group_post.group_member.group.id) %></p>

    <div class="text-center">
      <h2><%= @group_post.title %></h2>
      <%= image_tag @group_post.get_gp_image, style: "object-fit: contain;", class: "col-12 px-0 my-3" %>
    </div>
    <p><span><i class="fa-solid fa-location-dot"></i> <%= @group_post.address %></span></p>
    <%= simple_format(@group_post.body, sanitize: true)%>

    <!-- 投稿ユーザー情報 -->
    <div class="mb-3">
      <%= link_to admin_user_path(@user) do %>
        <%= image_tag @user.get_profile_image, size: "75x75", class: "object-fit-cover rounded-circle" %>
        <%= @user.name %>
      <% end %>
    </div>
    
    <p>投稿日：<%= @group_post.created_at.strftime('%Y/%m/%d') %></p>

    <!-- 削除ボタン -->
    <div class="pb-3">
      <%= link_to "削除", admin_group_group_post_path(@group_post.group_member.group_id, @group_post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-outline-primary" %>
    </div>

  </div>
</div>