<%= render 'layouts/notice', object: @group_post %>

<!-- 投稿詳細画面 -->
<div>
  <%= image_tag @group_post.get_gp_image, width: 720, height: 480, style: "object-fit: contin;" %>
  <p><b><%= @group_post.title %></b></p>
  <p>
    <span><i class="fa-solid fa-location-dot"></i> <%= @group_post.address %></span>
  </p>
  <p><%= @group_post.body %></p>

  <!-- 投稿ユーザー情報 -->
  <% if @group_post.user == current_user || @group_post.user.id == @group_post.group.owner.id || @group_post.group.is_owned_by?(current_user) %>
    <%= link_to user_path(@user) do %>
      <%= image_tag @user.get_profile_image, width: 75, height: 75, class: "object-fit-cover rounded-circle" %>
      <%= @user.name %>
    <% end %>
  <% end %>
  
  <!-- 投稿日 -->
  <p>投稿日：<%= @group_post.created_at.strftime('%Y/%m/%d') %></p>

  <!-- 編集・削除ボタン -->
  <div class="btn-group pb-3" role="group">
    <% if @group_post.user == current_user %>
      <%= link_to "投稿を編集", edit_group_group_post_path(@group_post.group_id, @group_post), class: "btn btn-sm btn-outline-primary" %>
    <% end %>
    <% if @group_post.user == current_user || @group_post.group.is_owned_by?(current_user) %>
      <%= link_to "投稿を削除", group_group_post_path(@group_post.group_id, @group_post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-outline-primary" %>
    <% end %>
  </div>
</div>

  <p><%= link_to "<< 投稿一覧へ戻る", group_group_posts_path(@group_post.group.id) %></p>
</div>