<h2>投稿一覧</h2>
<% @posts.each do |post| %>
  <div>
    <%= link_to admin_post_path(post.id) do %>
      <%= image_tag post.get_image, width: 240, height: 160, style: "object-fit: contain;" %>
    <% end %>
    <p>投稿ユーザー:</p>
    <%= link_to admin_user_path(post.user) do %>
      <%= image_tag post.user.get_profile_image %>
      <%= post.user.name %>
    <% end %>
    <p><b><%= post.title %></b></p>
    <p><%= post.body %></p>
    <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
  </div>
<% end %>

<%= paginate @posts %>