<!-- 投稿詳細画面 -->
<div class='container px-sm-0'>
  <div class='col-sm-12 col-lg-10 px-sm-0 mx-auto'>

<div>
  <p><%= link_to "<< 投稿一覧へ戻る", admin_posts_path %></p>
  <div class='text-center'>
    <h2><%= @post.title %></h2>
    <%= image_tag @post.get_image, style: "object-fit: contin;", class: "col-12 px-0 my-3" %>
  </div>
  <p><%= @post.body %></p>
  <div class='mb-3'>
    <%= link_to admin_user_path(@user) do %>
      <%= image_tag @user.get_profile_image, width: 75, height: 75, class: "object-fit-cover rounded-circle" %>
      <%= @user.name %>
    <% end %>
  </div>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <div class="pb-3">
    <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-outline-primary" %>
  </div>
</div>

<!-- コメント -->
<div>
  <p>コメント：<%= @post.comments.count %>件</p>
  <% @post.comments.each do |comment| %>
    <table class="table table-borderless">
      <tr>
        <%= link_to admin_user_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image, width: 75, height: 75, class: "object-fit-cover rounded-circle" %>
          <%= comment.user.name %>
        <% end %>
      </tr>
      <tr>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
      </tr>
      <tr>
        <%= link_to "削除", admin_post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </tr>
    </table>
  <% end %>
</div>

  </div>
</div>