<div>
  <%= image_tag @post.get_image, width: 720, height: 480, style: "object-fit: contin;" %>
  <p><b><%= @post.title %></b></p>
  <p><%= @post.body %></p>
  <%= link_to admin_user_path(@user) do %>
    <%= image_tag @user.get_profile_image %>
    <%= @user.name %>
  <% end %>
  <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
  <%= link_to "投稿を削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-outline-primary" %>
</div>

<!-- コメント -->
<div>
  <p>コメント：<%= @post.comments.count %>件</p>
  <% @post.comments.each do |comment| %>
    <table class="table table-borderless">
      <tr>
        <%= link_to admin_user_path(comment.user) do %>
          <%= image_tag comment.user.get_profile_image %>
          <%= comment.user.name %>
        <% end %>
      </tr>
      <tr>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.body %>
      </tr>
      <tr>
        <%= link_to "削除", admin_post_comment_path(comment.post, comment), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </tr>
    </table>
  <% end %>
  <p class="text-center"><%= link_to "投稿一覧へ戻る", admin_posts_path %></p>
</div>