<div class="container px-sm-0">
  <div class="col-sm-12 col-lg-10 px-sm-0 mx-auto">

    <p><%= link_to "<< グループ一覧へ戻る", admin_groups_path %></p>

    <div class="text-center pb-3">
      <h2><%= @group.name %></h2>
      <%= image_tag @group.get_group_image, size: "200x200", class: "icon-img mb-3" %><br>
      <%= link_to "削除", admin_group_path(@group), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-outline-primary" %>
    </div>

    <div class="row mt-3">
      <div class="col-11 col-md-10 mx-auto pb-3">
        <%= simple_format(@group.introduction, sanitize: true)%>
        オーナー：
        <%= link_to admin_user_path(@group.owner) do %>
          <%= image_tag @group.owner.get_profile_image, size: "75x75", class: "icon-img rounded-circle" %>
          <%= @group.owner.name %>
        <% end %>
        <div class="mt-4">
          <%= link_to "グループ投稿一覧", admin_group_group_posts_path(@group) %>
        </div>
      </div>
    </div>

    <h3 class="text-center mt-5">メンバー一覧</h3>
    <div class="row mt-3">
      <div class="col-11 col-md-10 mx-auto">
        <% @users.each do |user| %>
          <table class="pb-3">
            <tr>
              <td class="p-2"><%= image_tag user.get_profile_image, size: "75x75", class: "icon-img rounded-circle" %></td>
              <td class="p-2"><%= link_to user.name, admin_user_path(user) %></td>
              <% if @group.is_owned_by?(user) %>
                <td class="p-2">【オーナー】</td>
              <% else %>
                <td class="p-2"><%= link_to "グループ退会", admin_group_group_members_path(@group, user_id: user.id), method: :delete, "data-confirm" => "グループを退会させますか？", class: "btn btn-sm btn-secondary" %></td>
              <% end %>
            </tr>
          </table>
        <% end %>
      </div>
    </div>

  </div> 
</div> 