<%= render 'layouts/notice', object: @users %>
<h2>全ユーザー一覧</h2>
<table>
  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image %></td>
      <td><%= link_to user.name, admin_user_path(user) %></td>
      <td><%= user.email %></td>
      <td><%= link_to '退会', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-secondary" %></td>
    </tr>
  <% end %>
</table>