<div class="pb-3">
  <p><%= link_to "<< ユーザー一覧へ戻る", admin_dashboards_path %></p>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image, width: 150, height: 150, class: "object-fit-cover rounded-circle" %>
  <p><%= @user.introduction %></p>
  <%= link_to "退会", admin_user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-sm btn-outline-primary" %>
</div>

<%= render 'admin/posts/index', posts: @posts %>

<%= paginate @posts, theme: 'twitter-bootstrap-4' %>

