<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image %>
  <p><%= @user.introduction %></p>
  <%= link_to "退会", admin_user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-sm btn-secondary" %>
</div>

<% @posts.each do |post| %>
<div>
  <%= link_to admin_post_path(post.id) do %>
    <%= image_tag post.get_image, width: 240, height: 160, style: "object-fit: contain;" %>
  <% end %>
  <p><b><%= post.title %></b></p>
  <p><%= post.body %></p>
  <p><%= link_to "#{post.comments.count} コメント", admin_post_path(post.id) %></p>
  <p><%= link_to "削除", admin_post_path(post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-outline-primary" %></p>
</div>
<% end %>

<%= paginate @posts %>

<p class="text-center"><%= link_to "ユーザー一覧へ戻る", admin_dashboards_path %></p>
