<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 px-5 px-sm-0 mx-auto">
      <p><%= link_to "<< マイページへ戻る", user_path(@user) %></p>
      <h2>プロフィール編集</h2>
      <%= render 'layouts/errors', object: @user %>

      <%= form_with model: @user do |f| %>
        <div class="form-group">
          <label for="user_name">名前</label>
          <%= f.text_field :name, class: "form-control user_name" %>
        </div>
  
        <div class="form-group">
          <label for="user_email">メールアドレス</label>
          <%= f.text_field :email, class: "form-control user_email" %>
        </div>

        <div class="form-group">
          <label for="user_introduction">自己紹介</label>
          <%= f.text_area :introduction, class: "form-control user_introduction" %>
        </div>

        <div class="form-group">
          <%= f.label :プロフィール画像 %>
          <%= f.file_field :profile_image, class: "form-control-file", accept: 'image/*' %>
        </div>

        <div class="form-group">
          <input type="submit" value="更新" class="btn btn-primary">
        </div>

        <%= link_to "退会する", user_path(@user), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div> 
  </div>
</div>
