<%= render 'layouts/notice', object: @user %>

<!-- ユーザーの詳細 -->
<div class="text-center">
  <h2><%= @user.name %></h2>
  <%= image_tag @user.get_profile_image, width: 150, height: 150, class: "object-fit-cover rounded-circle" %>
  <div class="mt-3">
    <%= simple_format(@user.introduction, sanitize: true)%>
  </div>
  <% if @user.email != "guest@example.com" && @user == current_user %>
    <div class="pb-3">
      <%= link_to "ユーザー編集", edit_user_path(@user) %> | 
      <%= link_to "退会する", user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？" %> | 
      <%= link_to "グループ作成", new_group_path %>
    </div>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->
<%= render 'public/posts/index', posts: @posts %>
<%= paginate @posts, theme: 'twitter-bootstrap-4' %>
