<!DOCTYPE html>
<html>
<head>
  <title>管理者画面 - ヨルポス</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://kit.fontawesome.com/af13550893.js" crossorigin="anonymous"></script>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
      <div class="container">
        <div class="navbar-brand">ヨルポス</div>

        <!--検索フォーム-->
        <div class="d-flex justify-content-center mb-2">
          <% if user_signed_in? %>
            <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
              <%= f.text_field :content %>
              <%= f.select :model, options_for_select({ "ユーザー" => "user", "投稿" => "post" }) %>
              <%= f.select :method, options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }) %>
              <%= f.submit '検索', class: "btn btn-warning" %>
            <% end %>
          <% end %>
        </div>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <!-- ログイン時 -->
            <% if admin_signed_in? %>
              <li>
                <%= link_to admin_posts_path, class: "nav-link" do %>
                 <i></i> 投稿一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_dashboards_path, class: "nav-link" do %>
                 <i></i> ユーザー一覧
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
                <i></i> ログアウト
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="mb-auto mx-3 mt-3">
    <%= yield %>
  </main>
</body>
</html>