<!DOCTYPE html>
<html>
<head>
  <title>管理者画面 - ヨルポス</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://kit.fontawesome.com/af13550893.js" crossorigin="anonymous"></script>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
      <div class="container">
        <div class="navbar-brand">ヨルポス</div>

        <% if admin_signed_in? %>
          <!--検索フォーム-->
          <div class="d-flex justify-content-center">
            <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
              <%= f.text_field :content, class: "form-control form-control-sm" %>
              <%= f.select :model, options_for_select({ "ユーザー" => "user", "投稿" => "post" }), class: "form-select form-select-sm" %>
              <%= f.select :method, options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }), class: "form-select form-select-sm" %>
              <%= f.button class: "btn btn-secondary btn-sm" do %>
                <i class="fa-solid fa-magnifying-glass"></i>
              <% end %>
            <% end %>
          </div>

          <!--メニュー（ハンバーガーメニュー）-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li>
                <%= link_to admin_posts_path, class: "nav-link" do %>
                 <i></i> 投稿一覧
                <% end %>
              </li>
              <li>
                <%= link_to admin_dashboards_path, class: "nav-link" do %>
                 <i></i> ユーザー一覧
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
                <i></i> ログアウト
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
        
      </div>
    </nav>
  </header>

  <main class="mb-auto p-4">
    <%= yield %>
  </main>

  <div class="bg01">
    <%= image_tag 'bg01.png', class: 'img-fluid' %>
  </div>
  
</body>
</html>