<!DOCTYPE html>
<html>
  <head>
    <title>ヨルポス</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/af13550893.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark shadow">
        <div class="container">

          <!-- マイページアイコン -->
          <% if user_signed_in? %>
            <div class="dropdown">
              <div class="link-body-emphasis">
                <%= link_to user_path(current_user.id) do %>
                  <%= image_tag current_user.get_profile_image, size: '50x50', class: 'rounded-circle border border-3 border-secondary border-opacity-25' %>
                <% end %>
              </div>
            </div>
          <% end %>

          <!--トップページへのリンク-->
          <%= link_to "ヨルポス", root_path, class: "navbar-brand text-center mr-0" %>

          <!--メニュー（ハンバーガーメニュー）-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!--メニューリスト-->
          <div class="collapse navbar-collapse py-2" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <!--ログイン時-->
                <div class="search_form">
                  <%= form_with url: search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :content %>
                    <%= f.select :model, options_for_select({ "ユーザー" => "user", "投稿" => "post", "グループ" => "group" }), class: "form-select form-select-sm" %>
                    <%= f.select :method, options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }), class: "form-select form-select-sm" %>
                    <%= f.button class: "btn btn-secondary btn-sm" do %>
                      <i class="fa-solid fa-magnifying-glass"></i>
                    <% end %>
                  <% end %>
                </div>

                <li>
                  <%= link_to new_post_path, class: "nav-link" do %>
                    <i></i> 新規投稿
                  <% end %>
                </li>
                <li>
                  <%= link_to posts_path, class: "nav-link" do %>
                    <i></i> 投稿一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to groups_path, class: "nav-link" do %>
                    <i></i> グループ一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                    <i></i> ログアウト
                  <% end %>
                </li>
              <% else %>
                <!--ログイン前-->
                <li>
                  <%= link_to new_user_registration_path, class: "nav-link" do %>
                    <i></i> 新規登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path, class: "nav-link" do %>
                    <i></i> ログイン
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
      </nav>
    </header>

    <main class="mb-auto p-4">
      <%= yield %>
    </main>

    <div class="bg01">
      <%= image_tag 'bg01.png', class: 'img-fluid' %>
    </div>

  </body>

</html>
